/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-slow {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-in-slow {
    animation: slide-in-slow 0.5s forwards;
}

