/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in-slow {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-in-slow {
    animation: slide-in-slow 0.5s forwards;
}

/* Animaci칩n de rebote lento */
@keyframes bounce-slow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

.animate-bounce-slow {
    animation: bounce-slow 2s infinite;
}

/* Animaci칩n de giro lento */
@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 10s infinite linear;
}

/* Estilos para la animaci칩n de deslizamiento */
@keyframes slide-in-slow {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-in-slow {
    animation: slide-in-slow 0.5s forwards;
}

/* En tu archivo CSS o dentro de un bloque <style> en tu componente */
.bg-mosaic {
    background: url('img/logo.png') repeat; /* Reemplaza 'URL_DE_TU_IMAGEN' con la URL de tu imagen */
    background-size: 180px; /* Ajusta el tama침o del mosaico */
}


